<div>
    <h1>Login</h1>
    <form method="post" action="/auth/login">
        <label>Email:</label>
        <p>
            <input type="email" name="email" placeholder="Email" autocomplete="off"/>
        </p>
        <label>Password:</label>
        <p>
            <input type="password" name="password" placeholder="Password" autocomplete="off"/>
        </p>
        <button>
            Sign in
        </button>
        <a href="/auth/google">
            Sign in (Google)
        </a>
    </form>
</div>