<div>
    <h1>Register</h1>    
    <form method="post" action="/auth/register">
        <label>Name:</label>
        <p>
            <input type="text" name="name" placeholder="Name" autocomplete="off"/>
        </p>
        <label>Email:</label>
        <p>
            <input type="email" name="email" placeholder="Email" autocomplete="off"/>
        </p>
        <label>Password:</label>
        <p>
            <input type="password" name="password" placeholder="Password" autocomplete="off"/>
        </p>
        <label>Confirm Password:</label>
        <p>
            <input type="password" name="confirmPassword" placeholder="Confirm Password" autocomplete="off"/>
        </p>
        <button>
            Sign up
        </button>
    </form>
</div>