<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Shopping Store</title>
    </head>
    <body>
        <%- include('./partials/navbar') %>
        <%- include('./partials/messages') %>
        <%- body %>
        <%- include('./partials/footer') %>
        <script type="text/javascript" src="/public/js/detectPreviousPage/detectPreviousPage.js"></script>
    </body>
</html>